# === Entornos virtuales ===
venv/
.venv/
.venv311/

# === Archivos de configuración sensibles ===
.env
.env.*
*.pyc
__pycache__/
instance/
*.sqlite3

# === Archivos de sistema ===
.DS_Store
Thumbs.db

# === Archivos de logs ===
*.log

# === Archivos de IDE/Editor ===
.vscode/
.idea/
*.swp

# === Archivos de dependencias locales ===
*.egg-info/
dist/
build/
